<%- include("partials/header") -%>
    <div class="container">
      <div class="wrapper">
        <div class="title">
          <span>Forgot Password</span>
        </div>
        <form id="resetForm" method="POST">
          <div class="row">
            <i class="fas fa-mail-bulk"></i>
            <input type="email" name="email" placeholder="Enter your email..." required />
          </div>
          <div class="row button">
            <input type="submit" value="Reset" />
          </div>
        </form>
      </div>
    </div>
<%- include("partials/footer") -%>
