<%- include("partials/header") -%>
  <div class="pop" id="dialog-loader">
    <div class="loader"></div>
  </div>
  <script src="/js/auth/script.js"></script>
  <script>
    check_login();
  </script>
  <%- include("partials/footer") -%>