<%- include("partials/header") -%>
  <div class="container">
    <div class="wrapper">
      <div class="title">
        <span>Register Form</span>
      </div>
      <form id="regForm" method="POST">
        <div class="row">
          <i class="fas fa-user"></i>
          <input type="text" name="name" placeholder="Enter your full name..." autocomplete="off" required />
        </div>
        <div class="row">
          <i class="fas fa-mail-bulk"></i>
          <input type="email" name="email" placeholder="Enter your Email..." autocomplete="off" required />
        </div>
        <div class="row">
          <i class="fas fa-mobile"></i>
          <input type="tel" name="mobile" placeholder="Enter your Mobile Number..." autocomplete="off" required />
        </div>
        <div class="row">
          <i class="fas fa-lock"></i>
          <input type="password" name="password" placeholder="Enter your password..." autocomplete="off" required />
        </div>
        <div class="row">
          <i class="fas fa-code"></i>
          <input type="text" name="referral" placeholder="Referral code (optional)" value="<%= referredBy %>" autocomplete="off" />
        </div>
        <div class="row button">
          <input type="submit" value="Register" />
        </div>
        <div class="signup-link">
          Already a member? <a href="/auth/login">Login now</a>
        </div>
      </form>
    </div>
  </div>
<%- include("partials/footer") -%>